/*------------------------------------------------------------------
[Master Stylesheet]

Project:	USA Rugby Project Stats
Version:	2.0

1. Imports
2. Colors

--------------------------------------------------------------------*/

/* 1. Imports  -----------------------------------------------------*/

//vendor
@import "vendor/reset.less";
@import "vendor/foundation.less";
@import "vendor/icons.less";
@import "vendor/mixins.less";


//global
@import "header.less";
@import "footer.less";


//specific
@import "specific/portfolio.less";
@import "specific/summary.less";
@import "specific/hero.less";



/* 2. Colors  -----------------------------------------------------*/

@blue: #5F7C97;
@red: #c61e4d;

@grey: #627283;

/* 2. Fonts  -----------------------------------------------------*/

@primaryFont: "arial";
@secondaryFont: "raleway";

h1, h2, h3 {
	font-family: @secondaryFont;
}

/* 3. Body  -----------------------------------------------------*/
body {
	background: #FFF;
	font-size: 13px;
	color: #7F91A2; 
	font-family: @primaryFont;
	-webkit-font-smoothing: antialiased;
	height: 100%;
}

#wrapper {
	max-width: 1480px;
	background: #FFF;
	margin: 0 auto;
}

main {
	padding-top: 30px;
}

@rowWidth: 1180px;


/* 4. Utilities  -----------------------------------------------------*/

a.btn {
	padding: 12px 50px;
	.rounded(5px);
	background: @red;
	color: #FFF;
	text-decoration: none;
	margin-top: 10px;
	font-size: 16px;
	display: block;
	float: left;
	font-family: @secondaryFont;
	font-weight: bold;
	&.ghost {
		background: transparent;
		border: 3px solid @red;
	}
}