/*------------------------------------------------------------------
[ Hero Stylesheet ]

Project:	Makers
Version:	1.0

1. Layout

--------------------------------------------------------------------*/

#hero {
	height: 600px;
	background: url('../img/hero-bg.jpg') center top no-repeat;
	position: relative;
	.row {
		position: relative;
		height: 600px;
	}
}

#sell {
	color: #FFF;
	margin-top: 230px;
	width: 38%;
	h2 {
		font-size: 28px;
		font-weight: bold;
		line-height: 30px;
		margin-bottom: 10px;
		letter-spacing: -1px;
	}
	p {
		font-size: 17px;
		line-height: 27px;
	}
}

#browser {
	position: absolute;
	bottom: 0;
	background: url('../img/browser.png') center top no-repeat;
	right: 0;
	width: 560px;
	height: 425px;
}