/*------------------------------------------------------------------
[ Projects Stylesheet ]

Project:	Makers
Version:	1.0

1. Layout

--------------------------------------------------------------------*/

#projects {
	.project {
		width: 20%;
		border: 1px solid #333;
		float: left;
		height: 275px;
	}
}