/*------------------------------------------------------------------
[ Summary Stylesheet ]

Project:	Makers
Version:	1.0

1. Layout

--------------------------------------------------------------------*/

#summary {
	padding-top: 70px;
	margin-bottom: 0px;
	background: #FFF;
	position: relative;
	z-index: 2;
	.icon {
		font-size: 22px;
		color: lighten(@grey, 20%);
	}
	h2 {
		font-size: 46px;
		text-align: left;
		line-height: 1.15;
		letter-spacing: -2px;
		position: relative;
		margin-top: 5px;
		font-weight: 700;
		color: @blue;
		span {
			font-weight: 300;
		}
		&:before {
		  content: "";
		  position: absolute;
		  width: 90%;
		  height: 7px;
		  top: -25px;
		  left: 0;
		  background-color: @blue;
		}
	}
	div {
		margin-bottom: 35px;
	}
	h3 {
		color: @blue;
		font-weight: bold;
		font-size: 20px;
		font-weight: 200;
		margin-bottom: 18px;
		font-weight: bold;
		span {
			margin-right: 5px;
			font-size: 30px;
		}
	}
	p {
		color: @grey;
		font-size: 15px;
		font-weight: 500;
		line-height: 1.6;
		&.large {
			font-size: 18px;
			font-family: @secondaryFont;
		}
	}
}